<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LSTM UI</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submit" action="" method="get">
            <h2>Which are your favorite courses?</h2>

            <template v-for="course in courses">
                <input v-model="selectedCourses" type="checkbox" v-bind:id="course.value" v-bind:value="course.value">
                <label v-bind:for="course.value">{{ course.name }}</label>
            </template>

            <button type="submit">Send</button>
        </form>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                courses: [
                    { name: 'Vue.js Course', value: 'vue' },
                    { name: 'SEO  Course', value: 'seo' },
                    { name: 'React and Redux Course', value: 'react' },
                    { name: 'Growth Marketing Course', value: 'growth' }
                ],
                selectedCourses: []
            },
            methods: {
                submit: function () {
                    console.log('Submit method')
                    console.log(this.selectedCourses)
                }
            }
        })
    </script>
</body>
</html>